<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Connected system</th>
            <th>System information</th>
            <th>Patch information</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for system in systems %}
        <tr>
            <td>
                {{ system.hostname }}
            </td>
            <td class="align-middle">{{ system.system_os_name }}
                <a href="" class="badge badge-pill badge-secondary" data-toggle="modal" data-target="#systemInfoModal" 
                data-system-hostname="{{ system.hostname }}" data-system-os-name="{{ system.system_os_name }}" 
                data-system-os-version="{{ system.system_os_version }}" data-system-kernel="{{ system.system_kernel }}"
                data-system-package-manager="{{ system.system_package_manager }}">
                    Detail
                </button>
            </td>
            <td class="align-middle">
                <h5>
                    <!-- {% if system.get_available_updates_count > 0 %} -->
                        {% if system.get_available_updates_count <= 10 %}
                        <span class="badge badge-secondary">
                        {% elif system.get_available_updates_count <= 30 %}
                        <span class="badge badge-warning">
                        {% else %}
                        <span class="badge badge-danger">
                        {% endif %}
                    <!-- {% else %}
                        {% if system.get_max_cve_severity == 'low' %}
                        <span class="badge badge-secondary">
                        {% elif system.get_max_cve_severity == 'moderate' %}
                        <span class="badge badge-warning">
                        {% else %}
                        <span class="badge badge-danger">
                        {% endif %}
                    {% endif %} -->
                        {{ system.get_available_updates_count}} updates available
                        /
                        {{ system.get_cves_count}} CVEs
                    </span>
                </h5>
            </td>
            <td>
                <a href="{% url 'manage_system' system.id %}" class="btn btn-dark">Manage</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>