<script>
    // Setting for toastr notification lib
    toastr.options.closeButton = true;
    toastr.options.positionClass = "toast-bottom-right";        
    setInterval(function () {
        $.ajax({
            type: 'get',
            url: '{% url "check_task_status" %}',
            success: function(response) {
                notified_tasks = response.notified_tasks
                for(var i = 0; i < notified_tasks.length; i++) {
                    var task = notified_tasks[i];
                    if (task.task_status === "SUCCESS") {
                        toastr.success("Task: " + task.task_name + "<p><small>[" + task.task_id + "]</small></p>", "Task success");
                        if (typeof refresh_page == 'function') { 
                            refresh_page(); 
                        }
                    }
                    else if (task.task_status === "FAILURE") {
                        toastr.error("Task: " + task.task_name + "<p><small>[" + task.task_id + "]</small></p>", "Task failed");
                    }
                }
            }
        });
    },2000);
</script>