{% extends 'base.html' %} 

{% block content %}
{% include "includes/inline_form.html" %}
<div class="card small-margin-bottom">
    <div class="card-body">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#getSystemInfoModal">Get/Re-check system information</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#scanCVEModal">Scan CVE on all systems</button>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>Managed systems</h4>
    </div>
    <div class="card-body scroll" id="systemInfoTableWrapper">
        {% if total_systems == 0 %}
            <p class="blockquote">No Puppet/Mcollective system information.</p>
            <p><em>Please initiate a task to get system information first.</em></p>
        {% else %}
            {% include "ajax_templates/system_info_table.html" %}
        {% endif %}
    </div>
</div>

<!-- System information modal -->
<div class="modal fade" id="systemInfoModal" tabindex="-1" role="dialog" aria-labelledby="systemInfoModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="systemInfoModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="table-responsive-md">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><strong>OS name:</strong></td>
                            <td><span id="spanModalSystemOsName"></span></td>
                        </tr>
                        <tr>
                            <td><strong>OS version:</strong></td>
                            <td><span id="spanModalSystemOsVersion"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Kernel version:</strong></td>
                            <td><span id="spanModalSystemKernel"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Package manager:</strong></td>
                            <td><span id="spanModalSystemPackageManager"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Get system information confirmation modal -->
<div class="modal fade" id="getSystemInfoModal" tabindex="-1" role="dialog" aria-labelledby="getSystemInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="getSystemInfoModalLabel">Getting/Re-checking system information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to get/re-check system information?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="btnGetSystemInfo">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Scan CVE confirmation modal -->
<div class="modal fade" id="scanCVEModal" tabindex="-1" role="dialog" aria-labelledby="scanCVEModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scanCVEModalLabel">Scanning CVE on all systems</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to scan CVE on all systems?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="btnScanSystemCVE">Yes</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $('#systemInfoModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var system_hostname = button.data('system-hostname');
        var system_os_name = button.data('system-os-name');
        var system_os_version = button.data('system-os-version');
        var system_kernel = button.data('system-kernel');
        var system_package_manager = button.data('system-package-manager');
        var modal = $(this);
        modal.find('#systemInfoModalTitle').text(system_hostname);
        modal.find('#spanModalSystemOsName').text(system_os_name);
        modal.find('#spanModalSystemOsVersion').text(system_os_version);
        modal.find('#spanModalSystemKernel').text(system_kernel);
        modal.find('#spanModalSystemPackageManager').text(system_package_manager);
    });

    $("#btnGetSystemInfo").click(function () {
        $.ajax({
            type: 'post',
            url: '{% url "get_system_info" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                ssh_passphrase: $('#id_ssh_passphrase').val()
            },
            dataType: 'json',
            success: function(response) {
                if (response.error) {
                    toastr.error(response.message);
                }
                else {
                    toastr.success(response.message);
                }
            }
        });
        $('#getSystemInfoModal').modal('hide')
    });

    $("#btnScanSystemCVE").click(function () {
        $.ajax({
            url: '{% url "scan_cve_all_systems" %}',
            success: function(response) {
                if (response.error) toastr.error(response.message);
                else toastr.success(response.message);
            }
        });
        $('#scanCVEModal').modal('hide')
    });

    function refresh_page() {
        $.ajax({
            url: '{% url "get_system_info_table" %}',
            success: function(response) {
                $("#systemInfoTableWrapper").html(response);
            }
        });
    }
</script>
{% include 'includes/task_notification.html' %} 
{% endblock javascript %}