{% extends 'base.html' %} 

{% block content %}
{% include "includes/inline_form.html" %}
<button type="button" class="btn btn-info" id="btn-get-system-info">Get/Re-check system information</button>

<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Connected servers</th>
            <th>System information</th>
            <th>Patch information</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% include "ajax_templates/system_info_table.html" %}
    </tbody>
</table>
{% endblock content %}

{% block javascript %}
<script>
    $("#btn-get-system-info").click(function () {
        $.ajax({
            type: 'post',
            url: '{% url "get_system_info" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                ssh_passphase: $('#id_ssh_passphase').val()
            },
            dataType: 'json',
            success: function(response) {
                if (response.error) {
                    toastr.error(response.message);
                }
                else {
                    toastr.success(response.message + "<p><small>[" + response.task_id + "]</small></p>");
                }
            }
        });
    });
</script>
{% endblock %}