{% extends 'base.html' %} 

{% block content %} 
{% include "includes/inline_form.html" %}

<button type="button" class="btn btn-info" id="btnGetSystemInfo">Get/Re-check system information</button>
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#installedPackagesModal">View installed packages</button>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAllPackagesModal" 
    data-package-id="{{ package.id }}" data-package-name="{{ package.name }}">
    Update all packages
</button>

<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Package name</th>
            <th>Current Version</th>
            <th>New Version</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="outdatedPackagesTableBody">
        {% include "ajax_templates/outdated_packages_table.html" %}
    </tbody>
</table>

<!-- Installed packages modal -->
<div class="modal fade" id="installedPackagesModal" tabindex="-1" role="dialog" aria-labelledby="installedPackagesModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="installedPackagesModalTitle">Installed packages on {{ system_hostname }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="table-responsive-md">
                <table class="table table-sm table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">#</th>
                            <th>Package name</th>
                            <th>Current Version</th>
                        </tr>
                    </thead>
                    <tbody id="installedPackagesTableBody">
                        {% include "ajax_templates/installed_packages_table.html" %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Update package confirmation modal -->
<div class="modal fade" id="updatePackageModal" tabindex="-1" role="dialog" aria-labelledby="updatePackageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePackageModalLabel">Updating a package</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to update
                    <strong>
                        <span id="spanUpdatePackageName"></span>
                    </strong>?
                </p>
            </div>
            <div class="modal-footer">
                <p>
                    <small>Note that related packages may automatically get updated at the same time.</small>
                </p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="btnUpdatePackage">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Update all packages confirmation modal -->
<div class="modal fade" id="updateAllPackagesModal" tabindex="-1" role="dialog" aria-labelledby="updateAllPackagesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateAllPackagesModalLabel">Updating all packages</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to update <strong>all packages</strong> on {{ system_hostname }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="btnUpdateAllPackages">Yes</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 

{% block javascript %}
<script>
    $('#updatePackageModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var package_id = button.data('package-id');
        var package_name = button.data('package-name');
        var modal = $(this);
        modal.find('#spanUpdatePackageName').text(package_name);
        modal.find('#btnUpdatePackage').data('package-id', package_id);
    });

    $("#btnGetSystemInfo").click(function () {
        $.ajax({
            type: 'post',
            url: '{% url "get_system_info" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                ssh_passphase: $('#id_ssh_passphase').val()
            },
            dataType: 'json',
            success: function(response) {
                if (response.error) toastr.error(response.message);
                else toastr.success(response.message + "<p><small>[" + response.task_id + "]</small></p>");
            }
        });
    });
    
    $("#btnUpdatePackage").click(function () {
        $.ajax({
            type: 'post',
            url: '{% url "update_package" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                system_id: '{{ system_id }}',
                package_id: $(this).data('package-id'),
                ssh_passphase: $('#id_ssh_passphase').val()
            },
            dataType: 'json',
            success: function(response) {
                if (response.error) toastr.error(response.message);
                else toastr.success(response.message + "<p><small>[" + response.task_id + "]</small></p>");
            }
        });
        $('#updatePackageModal').modal('hide')
    });

    $("#btnUpdateAllPackages").click(function () {
        $.ajax({
            type: 'post',
            url: '{% url "update_all_packages" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                system_id: '{{ system_id }}',
                ssh_passphase: $('#id_ssh_passphase').val()
            },
            dataType: 'json',
            success: function(response) {
                if (response.error) toastr.error(response.message);
                else toastr.success(response.message + "<p><small>[" + response.task_id + "]</small></p>");
            }
        });
        $('#updateAllPackagesModal').modal('hide')
    });

    function refresh_page() {
        $.ajax({
            url: '{% url "get_outdated_packages_table" %}',
            data: {
                system_id: '{{ system_id }}'
            },
            success: function(response) {
                $("#outdatedPackagesTableBody").html(response);
            }
        });
        $.ajax({
            url: '{% url "get_installed_packages_table" %}',
            data: {
                system_id: '{{ system_id }}'
            },
            success: function(response) {
                $("#installedPackagesTableBody").html(response);
            }
        });
    }
</script>
{% include 'includes/task_notification.html' %}
{% endblock javascript%}