{% extends 'base.html' %} 

{% block content %}
<div class="card">
    <div class="card-header d-flex">
        <h4>Submitted Tasks</h4>
        <button type="button" class="btn btn-secondary ml-auto" data-toggle="modal" data-target="#clearTasksModal">Clear completed tasks</button>
    </div>
    <div class="card-body scroll" id="taskInfoTableWrapper">
        {% if total_tasks == 0 %}
            <p class="blockquote">Currently, there are no submitted tasks.</p>
        {% else %}
            {% include "ajax_templates/task_info_table.html" %}
        {% endif %}
    </div>
</div>

<!-- Clear tasks confirmation modal -->
<div class="modal fade" id="clearTasksModal" tabindex="-1" role="dialog" aria-labelledby="clearTasksModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clearTasksModalLabel">Clearing all completed tasks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to clear all completed tasks?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="{% url 'clear_task' %}"><button type="button" class="btn btn-primary" id="btnScanSystemCVE">Yes</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
function refresh_page() {
    $.ajax({
        url: '{% url "get_task_info_table" %}',
        success: function(response) {
            $("#taskInfoTableWrapper").html(response);
        }
    });
}
</script>
{% include 'includes/task_notification.html' %} 
{% endblock javascript%}